body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #555;
}

h2 {
    background-color: #007bff;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: background-color 0.3s;
}

h2:hover {
    background-color: #0056b3;
}

.highlight-text {
    color: red;
    border: 2px solid #333;
    padding: 10px;
    width: 500px;
    text-align: center;
    margin-top: 20px;
}

iframe {
    border: 0;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}
